.doggieCard {
    border-radius: 1em;
    background-color: #ecf0f8;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 10px;
    padding: 10px;
    font-size: calc(10px + 1vmin);
}


.profpic1 {
    border: 2px solid #d9dfee;
    background-color: #5387f5;
    padding: 1px;
    filter: drop-shadow(8px 8px 10px gray);  
    }
    

.profpic {
    border-radius: 50%;
    filter: drop-shadow(8px 8px 10px gray);  
    }
    

img {
    border: 2px solid #d9dfee;
    background-color: #5387f5;
    padding: 1px;
    
}

.titles, .dogInfo {
    display: flex;
    flex-direction: column;
}

.dogInfo {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
}

div.dog {
    text-decoration: none;
}

@media (max-width: 450px) {

    


} 
.flexi { 
    border: 2px solid rgb(250, 246, 247);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
 
}



div.dogInfo {
    border: 2px solid #343944;
    background-color: #2cac05;
    color: rgb(15, 14, 14);
    text-decoration: none;
    padding: 10px;
    margin-top: 1vw;
    grid-gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 15px;
    width: 100%;
    height: 7em;

}


div.dogInfo2 {
    border: 2px solid #343944;
    background-color: #2cac05;
    color: rgb(15, 14, 14);
    text-decoration: none;
    padding: 10px;
    margin-top: 1vw;
    grid-gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 15px;
    width: 100%;
    height: 100%;

}


.cardContainer div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 450px) {
    .cardContainer div {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        grid-gap: 0.2vw;

    }

    .cardContainer {
        padding: 20px;
    }

} 

@media (min-width: 550px) {
    .cardContainer div{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }


} 

@media (min-width: 1020px) {
    .cardContainer div{
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
    }
}